@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown a {
  text-decoration: underline;
}

.markdown li {
  margin-left: 1.5rem;
  list-style-type: circle;
}

.markdown h2 {
  font-size: 2rem;
  font-weight: bold;
}
