@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --primary-color: #1e293b;
  --primary-color-alt: #0f172a;
  --secondary-color: #f1f5f9;
  --secondary-color-alt: #e2e8f0;
  --toastify-color-success: #1e293b;
  --toastify-color-progress-success: #1e293b;
  --toastify-color-error: #1e293b;
  --toastify-color-progress-error: #1e293b;
  --toastify-color-warning: #1e293b;
  --toastify-color-progress-warning: #1e293b;
}

body {
  font-family: "Roboto", sans-serif;
}

.markdown {
  h2 {
    font-size: 2rem;
    font-weight: bold;
  }

  h3 {
    font-size: 1.6rem;
    font-weight: bold;
  }

  a {
    text-decoration: underline;
  }

  li {
    margin-left: 1.5rem;
    list-style-type: circle;
  }

  pre {
    background: var(--secondary-color);
    padding: 2rem;
    margin: 1rem 0;
    line-height: 2.3;
  }
}

.Toastify__toast--error,
.Toastify__toast--warning,
.Toastify__toast--success {
  border-radius: 0 !important;
}
